pip
planetary-computer
pystac-client
rasterio
rasterstats
stackstac
xarray
rioxarray
xarray-spatial
pandas
geopandas
matplotlib
numpy
scipy
streamlit
datetime
leafmap
pydeck
localtileserver
setuptools
streamlit_folium
psutil
jupter-server-proxy
lonboard
